.sideBar {
  width: 100px;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.sideBar_content {
  @apply flex flex-col gap-8 justify-center items-center;
  height: 100vh;
  width: 100%;
}

.sideBar_item {
  @apply text-sm font-medium;
  writing-mode: vertical-lr;
  transition: 0s;
  cursor: pointer;
  transform: rotate(180deg);
}

/* .sideBar_item:hover {
    transform: scale(1.1);
} */

@media (max-width: 640px) {
  .sideBar {
    width: 50px;
  }
}
